.sidebar{
    flex: 1;
    height: calc(100vh - 55px);
    position: sticky;
    top: 55px;
    background-color: rgb(251 251 255);
}

.sidebarWrapper{
    padding: 20px;
    color: #555;
}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    display: flex;
    align-items: center;
    padding: 5px;
}

.sidebarList{
    list-style: none;
    padding: 5px;
}

.sidebarListItem{
    padding: 2.5px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.sidebarTitle.active,
.sidebarTitle:hover{
    background-color: rgb(228, 228, 250);
    cursor: pointer;
}

.sidebarList .sidebarIcon{
    margin-right: 15px;
    font-size: 20px !important;
}

.sidebarList .sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}